<h1>Register</h1>
<form>
    <fieldset>
        <legend>Your Name</legend>
        <label for="firstName">First: </label>
        <input type="text" name="firstName" />
        <label for="lastName">Last: </label>
        <input type="text" name="lastName" />
    </fieldset>
    <fieldset>
        <legend>E-mail Address</legend>
        <label for="email">E-mail: </label>
        <input type="text" name="email" />
        <label for="cemail">E-mail (confirm): </label>
        <input type="text" name="cemail" />
    </fieldset>
    <fieldset>
        <legend>Password</legend>
        <label for="password">Password: </label>
        <input type="password" name="password" />
        <label for="cpassword">Password (confirm): </label>
        <input type="password" name="cpassword" />
    </fieldset>
    <input type="submit" value="Register" />
</form>